<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bumperbot">

    <xacro:include filename="$(find bumperbot_description)/urdf/bumperbot_gazebo.xacro"/>
    <xacro:include filename="$(find bumperbot_description)/urdf/bumperbot_ros2_control.xacro"/>

    <link name="base_footprint">
        <inertial>
            <mass value="0.001"/>
            <inertia
                ixx="0.000001"
                ixy="0.0"
                ixz="0.0"
                iyy="0.000001"
                iyz="0.0"
                izz="0.000001"/>
        </inertial>
    </link>

    <link name="base_link">

        <inertial>
            <mass value="1.0"/>
            <inertia
                ixx="0.001"
                ixy="0.0"
                ixz="0.0"
                iyy="0.001"
                iyz="0.0"
                izz="0.001"/>
        </inertial>

        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find bumperbot_description)/meshes/base_link.STL"/>
            </geometry>
        </visual>

        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.12 0.10 0.06"/>
            </geometry>
        </collision>

    </link>

    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 0.033" rpy="0 0 0"/>
    </joint>

    <link name="wheel_right_link">

        <!-- Added for Gazebo diagnostic -->
        <inertial>
            <mass value="0.1"/>
            <inertia
                ixx="0.0001"
                ixy="0.0"
                ixz="0.0"
                iyy="0.0001"
                iyz="0.0"
                izz="0.0001"/>
        </inertial>

        <visual>
            <origin rpy="1.57 0 0" xyz="0 0.015 0"/>
            <geometry>
                <mesh filename="file://$(find bumperbot_description)/meshes/wheel_right_link.STL"/>
            </geometry>
        </visual>

        <collision>
            <origin rpy="1.57 0 0" xyz="0 0 0"/>
            <geometry>
                <cylinder radius="0.033" length="0.03"/>
            </geometry>
        </collision>

    </link>

    <joint name="wheel_right_joint" type="continuous">
        <origin xyz="0 -0.07 0" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="wheel_right_link"/>
        <axis xyz="0 1 0"/>
    </joint>

    <link name="wheel_left_link">

        <inertial>
            <mass value="0.1"/>
            <inertia
                ixx="0.0001"
                ixy="0.0"
                ixz="0.0"
                iyy="0.0001"
                iyz="0.0"
                izz="0.0001"/>
        </inertial>

        <visual>
            <origin rpy="1.57 0 0" xyz="0 0.015 0"/>
            <geometry>
                <mesh filename="file://$(find bumperbot_description)/meshes/wheel_left_link.STL"/>
            </geometry>
        </visual>

        <collision>
            <origin rpy="1.57 0 0" xyz="0 0 0"/>
            <geometry>
                <cylinder radius="0.033" length="0.03"/>
            </geometry>
        </collision>

    </link>

    <joint name="wheel_left_joint" type="continuous">
        <origin xyz="0 0.07 0" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="wheel_left_link"/>
        <axis xyz="0 1 0"/>
    </joint>

    <link name="caster_front_link">

        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find bumperbot_description)/meshes/caster_front_link.STL"/>
            </geometry>
        </visual>

        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <sphere radius="0.005"/>
            </geometry>
        </collision>

    </link>

    <joint name="caster_front_joint" type="fixed">
        <origin xyz="0.04755 0 -0.0275" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="caster_front_link"/>
    </joint>

    <link name="caster_rear_link">

        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find bumperbot_description)/meshes/caster_rear_link.STL"/>
            </geometry>
        </visual>

        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <sphere radius="0.005"/>
            </geometry>
        </collision>

    </link>

    <joint name="caster_rear_joint" type="fixed">
        <origin xyz="-0.04755 0 -0.0275" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="caster_rear_link"/>
    </joint>

</robot>